.cuerpo {
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
}

.imagen1 {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.cuerpo .imagen1 a{
    display: flex;
    width: 100%;
    height: 100%;
}

.cuerpo img{
    display: flex;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.cuerpo .vacio{ 
    height: 1.90vh;
}

.cuerpo .cuadroDeImagenes{
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 60% 60%;
    gap: 1%;
    margin-left: 1%;
    margin-top: 1%;
}

.cuerpo .imagenConTexto1, .cuerpo .imagenConTexto2, .cuerpo .imagenConTexto3{
    position: relative;
    width: 100%;
    height: 100%;
}

.cuerpo .imagenConTexto1{
    color: white;
}

.cuerpo .imagenConTexto2 .textoEnImagen1{
    color: blue;
}

.cuerpo .imagenConTexto2 .textoEnImagen2, .cuerpo .imagenConTexto2 .textoEnImagen3, .cuerpo .imagenConTexto3 .textoEnImagen1, .cuerpo .imagenConTexto3 .textoEnImagen2{
    color: black;
}

.cuerpo .imagenConTexto3 .textoEnImagen3{
    color: lightskyblue;
}

.cuerpo .imagenConTexto3 .textoEnImagen1{
    top: 70%;
}

.cuerpo .imagenConTexto3 .textoEnImagen2{
    top: 80%;
}

.cuerpo .imagenConTexto3 .textoEnImagen3{
    top: 90%;
}

.cuerpo .textoEnImagen1, .cuerpo .textoEnImagen3{
    position: absolute;
    text-align: center;
    width: 100%;
}

.cuerpo .textoEnImagen1{
    top: 10%;
    font-weight: bolder;
    font-size: 2.25rem;
}

.cuerpo .textoEnImagen2{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 20%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:Xolonium;
    overflow-wrap: break-word;
}

.cuerpo .textoEnImagen3{
    top: 32%;
    font-size: 1.25rem;
}