.navegador {
    display: flex;
    background-color: white;
    width: 100%;
    height: 7%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}

ul.cuadro1, ul.cuadro2 {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    height: 100%;
}

ul.cuadro1 {
    margin-left: 14%;
    width: 65%;
    gap: 2%;
}

ul.cuadro2 {
    width: 10%;
    justify-content: space-evenly;
    margin-right: 14%;
}

.navegador li {
    display: flex;
    width: auto;
    height:70%;
    align-items: center;
}

.navegador li a {
    display: flex;
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    text-decoration: none;
    justify-content: center;
    color: #4d4d4d;
    font-size: 0.875rem;
    font-family:  Myriad W08 Regular,Segoe UI,Arial,PingFang TC,Microsoft JhengHei,sans-serif;
}

.navegador li a.nav1 {
    width: 6.31vw;
}


a.nav1{
    height: 1.44vh;
}

.navegador li a.nav9 , .navegador li a.nav10 {
    width: 2.07vw;
}

a.nav9, a.nav10{
    height: 2.07vh;
}


.nav1 {
    background-image: url("https://www.asus.com/images/logo/logo-001.svg");
}

.nav9 {
    background-image: url("https://www.asus.com/images/icon/icon-24-search-black.svg");
}

.nav10 {
    background-image: url("https://www.asus.com/images/icon/icon-24-member-black.svg");
}

